PORT=3000
MONGODB_URL=mongodb+srv://<username>:<password>@cluster.mongodb.net/reelsthan
JWT_SECRET=your_jwt_secret_key_here
NODE_ENV=production
FRONTEND_URL=https://your-frontend-app.vercel.app
IMAGEKIT_PUBLIC_KEY=your_public_key
IMAGEKIT_PRIVATE_KEY=your_private_key
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/your_id
